<!--Pagination div-->
<ul class="pager" ng-show="books.length>0" style="text-align:left">
    <li data-ng-class="{'disabled':isFirstPage()}">
    <a href="" data-ng-if="!isFirstPage()" data-ng-click="decPage()">Previous</a></li>
    <li><span> {{pager.curr + 1}} of {{ numberOfPages() }}</span></li>
    <li data-ng-class="{'disabled':isLastPage()}">
    <a href="" data-ng-if="!isLastPage()" data-ng-click="incPage()" >Next</a></li>
</ul>

<form name="booksForm">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th data-ng-repeat="field in tableFields" data-ng-bind="field.Title"></th>
                <th style="width: 70px;"> </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="book in books | pagination: pager.curr * pager.size | limitTo: pager.size" data-ng-mouseover="hoverInBookRow(book)" data-ng-mouseleave="hoverOutBookRow(book)">
                <td data-ng-repeat="field in tableFields" data-ng-style="{'width':field.Width}">
                    <div data-ng-bind="book[field.Title]" data-ng-if="field.Title == 'Id'"></div>
                    <div data-ng-if="editMode != book.Id">
                        <div data-ng-bind="book[field.Title] | capitalizeeachword" data-ng-if="field.Title == 'Autuor'"></div>
                        <div data-ng-bind="book[field.Title] | date:'dd/MM/yyyy'" data-ng-if="field.Title == 'Date'"></div>
                        <div class="control-label" data-ng-bind="book[field.Title] | onlyengletters | capitalizeeachword" data-ng-if="field.Title == 'Title'"></div>
                    </div>
                    <section data-ng-if="editMode == book.Id">
                        <div class="form-group inputDiv"
                             data-ng-if="field.Title == 'Autuor'"
                             data-ng-class="{'has-error':booksForm.autuorInput.$error.required}">
                            <input name="autuorInput" type="text" class="form-control input-sm"
                                   data-ng-model="selectedBook[field.Title]"
                                   data-ng-minlength="1"
                                   required />
                        </div>
                        <div class="form-group inputDiv"
                             data-ng-if="field.Title == 'Date'"
                             data-ng-class="{'has-error':booksForm.dateInput.$error.required}">
                            <input name="dateInput" type="date" class="form-control input-sm"
                                   data-ng-model="selectedBook[field.Title]"
                                   data-ng-if="field.Title == 'Date'"
                                   required />
                        </div>
                        <div class="form-group inputDiv"
                             data-ng-if="field.Title == 'Title'"
                             data-ng-class="{'has-error':booksForm.titleInput.$error.required}">
                            <input name="titleInput" type="text" class="form-control input-sm has-error"
                                   data-ng-model="selectedBook[field.Title]"
                                   data-ng-minlength="1"
                                   required />
                        </div>
                    </section>

                </td>
                <td class="btnTd">
                    <div data-ng-show="book.ShowBtn">
                        <div data-ng-if="editMode == 0 ">
                            <a href="" title="Edit" data-ng-click="setEditMode(book)"><span class="ion-edit text-warning"></span></a>
                            <a href="" title="Delete" data-ng-click="deleteConfirmation(book)"><span class="ion-close-round text-danger"></span></a>
                        </div>
                    </div>
                    <div data-ng-if="editMode == book.Id ">
                        <a href="" title="Save" data-ng-click="saveEditChange(booksForm.$valid)"><span class="ion-checkmark-round text-success"></span></a>
                        <a href="" title="Cancel" data-ng-click="cancelAll()"><span class="ion-reply text-warning"></span></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div data-ng-include="'inc/areyousure.htm'"></div>
